In [1]:
"hi"

'hi'

In [11]:
stock={
    "fruit":{
        "apple":100,
        "banana":45,
        "cherry":1000
    }
}

In [12]:
stock

{'fruit': {'apple': 100, 'banana': 45, 'cherry': 1000}}

In [13]:
del stock['fruit']['apple']

In [14]:
stock

{'fruit': {'banana': 45, 'cherry': 1000}}

In [4]:
original = stock["fruit"]

In [5]:
original

{'apple': 100, 'banana': 45, 'cherry': 1000}

In [6]:
del stock['fruit']

In [9]:
stock

{'fruit': {'apple': 100, 'banana': 45, 'cherry': 1000}}

In [10]:
del stock['veg']

KeyError: 'veg'

In [ ]:
# list, set, tuple, dict, Numbers, string, boolean

In [15]:
x = 10
y = 23
z = 10
print(x+y)

33

In [16]:
type(x)

int

In [17]:
x ="onkar"

In [18]:
type(x)

str

In [19]:
x = 10.1

In [20]:
type(x)

float

In [22]:
# built in functions.  print, input, type, str, help, dir


age = int(input("enter the age"))
print("age", age)

enter the age10
age 10

In [23]:
# module function

import math
x = 25
math.sqrt(x)

5.0

In [25]:
radius=4
area = math.pi*radius ** 2

In [26]:
area

50.26548245743669

In [27]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [28]:
s = "python is Fun"

In [29]:
s

'python is Fun'

In [30]:
s.swapcase()

'PYTHON IS fUN'

In [31]:
a = 10
b = 4
c =88
'a={}, b={}, c={}'.format(a,b,c)

'a=10, b=4, c=88'

In [32]:
'       python is fun       '.strip()

'python is fun'

In [33]:
'       python is fun       '

'       python is fun       '

In [ ]:
# mutable and immutable in python
# mutable ==> list, dict value
# immutable ==> string, tuple

In [34]:
s = "python"

In [35]:
id(s)

140289715552048

In [36]:
s = "c d csjd "

In [37]:
id(s)

140289738213232

In [38]:
s[1]

' '

In [39]:
s = "python"

In [41]:
s[0]

'p'

In [42]:
s[1]

'y'

In [43]:
s[1] =  "e"

TypeError: 'str' object does not support item assignment

In [44]:
s[-1]

'n'

In [45]:
s[-2]

'o'

In [46]:
s[1:5]

'ytho'

In [48]:
s[1:5:2]

'yh'

In [49]:
len(s)

6

In [54]:
s = "malayalam"
s == s[::-1]

True

In [55]:
s = "abc$cu"
s.split("$")

['abc', 'cu']

In [56]:
s.split()

['abc$cu']

In [ ]:
# home work explore string functions in python

# conditional statment
if condtion:

    logic
elif condition:
    logic
    ...
    
else:
    co

In [57]:
x = 10
if x ==10:
    print("x is 10")
    print("end of the block")
    y = x/2
    if y == 5:
        print("y is five")
        print("inside innner if")
    print("outside inner if")
else:
    print("x is not 10")
    print("end of the block")

x is 10
end of the block
y is five
inside innner if
outside inner if

In [63]:
invest = 200
income = 201
if invest > income:
    print("loss in making buisness")
elif invest == income:
    print("break even")
else:
    print("profitable")

profitable

In [64]:
number = int(input("enter the number"))
if number %2 ==0:
    print("even")
else:
    print("odd")

enter the number10
even

In [ ]:
# int(x)
# float(x)
# str(x)

In [66]:
# looping

for l in 'python':
    print(l, end= '      ')

p      y      t      h      o      n

In [ ]:
# write simeple factorial prgram

In [67]:
num = int(input("Enter the number"))
fact =1
for i in range(1, num+1):
    fact =fact*i
print(fact)

Enter the number5
120

In [68]:
import time
# loop while
no_vaccine = True

while no_vaccine:
    print("take precautions")
    print("wear mask")
    print("avoid public places")
    check = input("is vaccine available?")
    if check == "yes":
        print("get it")
        break
    time.sleep(1)

take precautions
wear mask
avoid public places
is vaccine available?no
take precautions
wear mask
avoid public places
is vaccine available?no
take precautions
wear mask
avoid public places
is vaccine available?yes
get it

In [69]:
# list 
lst = [1, 2, 3, 4, 'ad', 'hi', 1.0]

In [70]:
lst

[1, 2, 3, 4, 'ad', 'hi', 1.0]

In [75]:
type(lst)

list

In [76]:
len(lst)

7

In [77]:
dir(lst)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [78]:
s = "python"

In [79]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [80]:
l = list()

In [81]:
l.append(1)

In [82]:
l

[1]

In [83]:
l.append(2)

In [84]:
l[1]

2

In [85]:
l[0]

1

In [86]:
l[-1]

2

In [87]:
l[-2]

1

In [88]:
lst

[1, 2, 3, 4, 'ad', 'hi', 1.0]

In [89]:
lst[4][1]

'd'

In [90]:
lst.insert(4,5)

In [91]:
lst

[1, 2, 3, 4, 5, 'ad', 'hi', 1.0]

In [92]:
for i in lst:
    print(i)

1
2
3
4
5
ad
hi
1.0

In [ ]:
# build functions: print, help, type int str
# build module math, time random
# keyword: import while break, if 
# string : index iterable immutable
# list: index iterable, mutable

In [73]:
type(l)

list

IndexError: list assignment index out of range

In [93]:
lst

[1, 2, 3, 4, 5, 'ad', 'hi', 1.0]

In [94]:
id(lst)

140289738325696

In [95]:
lst[1]

2

In [96]:
lst[2] = 1000

In [97]:
lst

[1, 2, 1000, 4, 5, 'ad', 'hi', 1.0]

In [98]:
id(lst)

140289738325696

In [99]:
lst

[1, 2, 1000, 4, 5, 'ad', 'hi', 1.0]

In [100]:
lst.append([1,234])

In [101]:
lst

[1, 2, 1000, 4, 5, 'ad', 'hi', 1.0, [1, 234]]

In [102]:
lst[-1]

[1, 234]

In [103]:
lst[-1][0]

1

In [104]:
lst.pop()

[1, 234]

In [105]:
lst

[1, 2, 1000, 4, 5, 'ad', 'hi', 1.0]

In [106]:
lst.remove(4)

In [107]:
lst

[1, 2, 1000, 5, 'ad', 'hi', 1.0]

In [108]:
lst

[1, 2, 1000, 5, 'ad', 'hi', 1.0]

In [109]:
s = 0 
for ele in lst:
    if isinstance(ele, int) or isinstance(ele, float):
        print("value", ele)
        s = s+ele
print(s)

value 1
value 2
value 1000
value 5
value 1.0
1009.0

In [110]:
lst_1 = list(range(30, 50, 2))

In [111]:
lst_1

[30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:


# dict

In [112]:
mydict = {}

In [113]:
mydict

{}

In [114]:
type(mydict)

dict

In [115]:
mydict_1 = dict()

In [116]:
type(mydict_1)

dict

In [117]:
mydict['k1'] = 'v1'

In [118]:
mydict

{'k1': 'v1'}

In [119]:
mydict['k1'] = '10'

In [120]:
mydict

{'k1': '10'}

In [121]:
len(mydict)

1

In [122]:
d = {'a':10, 'b':30}

In [123]:
d

{'a': 10, 'b': 30}

In [124]:
d['c1'] = 40

In [125]:
d

{'a': 10, 'b': 30, 'c1': 40}

In [126]:
d['a']=100

In [127]:
d

{'a': 100, 'b': 30, 'c1': 40}

In [128]:
d['a']

100

In [129]:
id(d)

140289738203264

In [130]:
d['a'] = 10000

In [131]:
d

{'a': 10000, 'b': 30, 'c1': 40}

In [132]:
id(d)

140289738203264

In [133]:
detail = {"name": "aakash", "age": 26}

In [134]:
detail

{'name': 'aakash', 'age': 26}

In [135]:
ladies_purse = {"card": 3, "cash": 1900, "candies":7}

In [136]:
ladies_purse

{'card': 3, 'cash': 1900, 'candies': 7}

In [137]:
ladies_purse['candies'] +=2

In [138]:
ladies_purse

{'card': 3, 'cash': 1900, 'candies': 9}

In [139]:
# nested dictionries

ladies_purse['cards'] = {"Amex":1, "VISA":{"HDFC":1, "ICIC":'gold'}}

In [140]:
ladies_purse

{'card': 3,
 'cash': 1900,
 'candies': 9,
 'cards': {'Amex': 1, 'VISA': {'HDFC': 1, 'ICIC': 'gold'}}}

In [142]:
ladies_purse.keys()

dict_keys(['card', 'cash', 'candies', 'cards'])

In [143]:
ladies_purse

{'card': 3,
 'cash': 1900,
 'candies': 9,
 'cards': {'Amex': 1, 'VISA': {'HDFC': 1, 'ICIC': 'gold'}}}

In [144]:
ladies_purse['cards']

{'Amex': 1, 'VISA': {'HDFC': 1, 'ICIC': 'gold'}}

In [145]:
ladies_purse['cards']['VISA']

{'HDFC': 1, 'ICIC': 'gold'}

In [146]:
ladies_purse['cards']['VISA']['ICIC']

'gold'

In [147]:
ladies_purse['cards']['VISA']['ICIC'][-1]

'd'

In [148]:
for ele in ladies_purse:
    print(ele)

card
cash
candies
cards

In [150]:
for ele in ladies_purse:
    print(ele, '---->', ladies_purse[ele])

card ----> 3
cash ----> 1900
candies ----> 9
cards ----> {'Amex': 1, 'VISA': {'HDFC': 1, 'ICIC': 'gold'}}

In [151]:
for value in ladies_purse.values():
    print(value)

3
1900
9
{'Amex': 1, 'VISA': {'HDFC': 1, 'ICIC': 'gold'}}

In [152]:
for ele, value in ladies_purse.items():
    print(ele, "----->", value)

card -----> 3
cash -----> 1900
candies -----> 9
cards -----> {'Amex': 1, 'VISA': {'HDFC': 1, 'ICIC': 'gold'}}

In [153]:
dir(ladies_purse)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [154]:
ladies_purse.pop('card')

3

In [155]:
ladies_purse

{'cash': 1900,
 'candies': 9,
 'cards': {'Amex': 1, 'VISA': {'HDFC': 1, 'ICIC': 'gold'}}}

In [156]:
del ladies_purse['cash']

In [157]:
ladies_purse

{'candies': 9, 'cards': {'Amex': 1, 'VISA': {'HDFC': 1, 'ICIC': 'gold'}}}

In [158]:
d = {'a':100, 'b':20, 'c':30, 'e':20, 'k':{'x':10}, 'v':[1,2,3]}

In [159]:
d

{'a': 100, 'b': 20, 'c': 30, 'e': 20, 'k': {'x': 10}, 'v': [1, 2, 3]}

In [ ]:
#

In [160]:
d['v'][1]

2

In [161]:
d['v'][0]

1

In [162]:
d['v'][2]

3

In [ ]:
# build functions: print, help, type int str
# build module math, time random
# keyword: import while break, if 
# string : index iterable immutable
# list: index iterable, mutable
# dict : non-index, iterable, mutable

In [163]:
# tuple
tp = (23, 1, 'hit', '111')

In [164]:
type(tp)

tuple

In [165]:
tp

(23, 1, 'hit', '111')

In [167]:
tp[-1]

'111'

In [168]:
tp[:4]

(23, 1, 'hit', '111')

In [170]:
tp =((1,2,3), 7, (45,66,67), (6,7,9))

In [171]:
tp

((1, 2, 3), 7, (45, 66, 67), (6, 7, 9))

In [172]:
tp =((1,2,3), 7, (45,66,67), (6,7,9), [1,2,44, 6], {'1':1})

In [173]:
tp

((1, 2, 3), 7, (45, 66, 67), (6, 7, 9), [1, 2, 44, 6], {'1': 1})

In [186]:
for i in tp:
    if isinstance(i, list):
        print(i)
        for ele in i:
            print(ele)

[1, 2, 44, 6]
1
2
44
6

In [176]:
tp[1]

7

In [177]:
id(tp)

140289737235520

In [178]:
tp[1] = 8

TypeError: 'tuple' object does not support item assignment

In [ ]:
# build functions: print, help, type int str......, dir
# build module math, time random
# keyword: import while break, if .......
# string : index iterable immutable
# list: index iterable, mutable
# dict : non-index, iterable, mutable
# tuple : index, iterable immutable

In [179]:
tp

((1, 2, 3), 7, (45, 66, 67), (6, 7, 9), [1, 2, 44, 6], {'1': 1})

In [182]:
tp[4][1]

2

In [183]:
type(tp[4])

list

In [184]:
isinstance(tp[4], list)

True

In [1]:
"hi"

'hi'

In [3]:
emp_info = {}  # dict


while True:
    print("1.Create Employee records")
    print("2.Update the employee detail")
    print("3.Delete employee record")
    print("4. Display")
    print("5. Exit")
    ch = int(input("Enter your choice[1-5]:"))
    if ch == 1:
        name = input("Enter the employee name:")
        emp_id = int(input("Enter the employee id"))
        ph=input("Enter the phone number:")
        tech= input("Technologies[comma seprated eg: C++, Python, .Net]")
        emp_info[emp_id] = {"name":name, "phone":ph, 'tech': tech.split(',')}
    elif ch==2:
        who = int(input("Whoes details you want to update ?, Plese enter the emp_id"))
        rec = emp_info[who]
        for field, value in rec.items():
            new = input('{}({})'.format(field, value))
            emp_info[who][field] = value if new == '' else new
    elif ch ==3:
        who = int(input("Enter the employee id"))
        if who in emp_info:
            del emp_info[who]
        else:
            print("Record not found")
    elif ch==4:
        print(emp_info)
    else:
        break

1.Create Employee records
2.Update the employee detail
3.Delete employee record
4. Display
5. Exit
Enter your choice[1-5]:1
Enter the employee name:oo
Enter the employee id101
Enter the phone number:222223343433
Technologies[comma seprated eg: C++, Python, .Net]python, cpp, java
1.Create Employee records
2.Update the employee detail
3.Delete employee record
4. Display
5. Exit
Enter your choice[1-5]:4
{101: {'name': 'oo', 'phone': '222223343433', 'tech': ['python', ' cpp', ' java']}}
1.Create Employee records
2.Update the employee detail
3.Delete employee record
4. Display
5. Exit
Enter your choice[1-5]:3
Enter the employee id101
1.Create Employee records
2.Update the employee detail
3.Delete employee record
4. Display
5. Exit
Enter your choice[1-5]:4
{}
1.Create Employee records
2.Update the employee detail
3.Delete employee record
4. Display
5. Exit
Enter your choice[1-5]:3
Enter the employee id121
Record not found
1.Create Employee records
2.Update the employee detail
3.Delete employee record
4. Display
5. Exit
Enter your choice[1-5]:55

In [8]:
l = list()
for i in range(10):
  l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
[x for x in range(10) if x%2==0]

[0, 2, 4, 6, 8]

In [13]:
n= [1,2,3,4,5,6,7,8]

num = int(input("Enter a index for which you want to see square:"))
squares = []
for num in n:
    squares.append(num**2)
idx_pos = n.index(num)
print(squares[idx_pos])

Enter a number for which you want to see square:7
64

In [15]:
num = int(input("Enter the index for which you want to see sqauers"))
sq = [num**2 for num in n]
idx_pos = n.index(num)
print(sq[idx_pos])

Enter the index for which you want to see sqauers4
16

In [16]:
{k:k**2 for k in range(1,6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [17]:
# covert tuple to dict

#{0:45, 1:77, 2:109, 4:data, 4:[]}
tp = (45, 77, 109, 'data', ["raj", "rohan"])

In [18]:
{k:tp[k] for k in range(len(tp))}

{0: 45, 1: 77, 2: 109, 3: 'data', 4: ['raj', 'rohan']}

In [19]:
# logic other way

{tp.index(v):v for v in tp}

{0: 45, 1: 77, 2: 109, 3: 'data', 4: ['raj', 'rohan']}

In [20]:
# how reverser element of tuple
tp[::-1]

(['raj', 'rohan'], 'data', 109, 77, 45)

In [21]:
s = {2,4,6,8,90,88,92,91}

In [22]:
type(s)

set

In [24]:
lst = [1,1,1,2,2,3,4,5,6,7]

In [25]:
lst

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7]

In [26]:
set(lst)

{1, 2, 3, 4, 5, 6, 7}

In [27]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [28]:
s.add(100)

In [29]:
s

{2, 4, 6, 8, 88, 90, 91, 92, 100}

In [30]:
lst = [34,6,7,5,3,2,(88,),4,5,7,8,9,4,3,'hi', 5,(7,97,7), 4,2]

In [31]:
lst

[34, 6, 7, 5, 3, 2, (88,), 4, 5, 7, 8, 9, 4, 3, 'hi', 5, (7, 97, 7), 4, 2]

In [32]:
set(lst)

{(7, 97, 7), (88,), 2, 3, 34, 4, 5, 6, 7, 8, 9, 'hi'}

In [33]:
s1 = {1,2,3,4,5,7,8}
s2 = {5,6,7,8,9,10,11}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [34]:
s1.difference(s2)

{1, 2, 3, 4}

In [35]:
s2.difference(s1)

{6, 9, 10, 11}

In [36]:
s1.intersection(s2)

{5, 7, 8}

In [37]:
s1-s2

{1, 2, 3, 4}

In [ ]:
# build functions: print, help, type int str
# build module math, time random
# keyword: import while break, if 
# string : index iterable immutable
# list: index iterable, mutable
# dict : non-index, iterable, mutable
# set : non index, iterable

# UDF 
print("hello xyz")
"welcome to python"
"your age is 26"

print("hello xyz")
"welcome to python"
"your age is 26"

print("hello xyz")
"welcome to python"
"your age is 26"

In [38]:
def greeting():
    print("hello xyz")
    print("welcome to python")
    print("your age is 26")

In [39]:
greeting()

hello xyz
welcome to python
your age is 26

In [40]:
greeting()

hello xyz
welcome to python
your age is 26

In [42]:
def greeting(name, age):
    print("hello %s" % name)
    print("welcome to python")
    print("your age is %s" %age)

In [43]:
greeting("onkar", "24")

hello onkar
welcome to python
your age is 24

In [44]:
def greeting(name, age):
    print("hello %s" % name)
    print("welcome to python")
    if isinstance(age, (int, float)):
        print("age:", age)

In [45]:
greeting('onkar', 24)

hello onkar
welcome to python
age: 24

In [46]:
greeting("onkar", "24")

hello onkar
welcome to python

In [41]:
greeting()

hello xyz
welcome to python
your age is 26

In [49]:
def greeting(name, age):
    
    """
      this function is responsible to greet people
    """
    pass

In [50]:
help(greeting)

Help on function greeting in module __main__:

greeting(name, age)
    this function is responsible to greet people

In [62]:
def greeting(name='', discount=10):
    """
    this function is responsible to greet people
    """
    print("hello {}".format(name))
    print("welcome to python")
    if isinstance(discount,(int, float)):
        print("age", discount)

In [63]:
greeting(name="john")

hello john
welcome to python
age 10

In [64]:
greeting(name="john", discount=40)

hello john
welcome to python
age 40

In [61]:
greeting(name="john")

hello john
welcome to python

NameError: name 'age' is not defined

In [56]:
greeting(name="john")

hello john
welcome to python
age 25

In [57]:
greeting(name="john", age=26)

hello john
welcome to python
age 26

In [54]:
greeting(name="john")

hello john
welcome to python
age

In [73]:
def greeting( name, age, phone="00000", address="pune"):
    print("name {}".format(name))
    print("age {}".format(age))
    print("phone {}".format(phone))
    print("address %s" % address)

In [74]:
greeting("ram", 24, 4445, "bang")

name ram
age 24
phone 4445
address bang

In [80]:
def greeting(*args, phone="0000", address="pune"):
    print("Complete args {}".format(args))
    print("hello {}".format(args[0]))
    print("age {}".format(args[1]))
    print("phone", phone)
    print("address", address)

In [81]:
greeting('ram', 18, phone='1122', address="ban")

Complete args ('ram', 18)
hello ram
age 18
phone 1122
address ban

In [83]:
greeting('ram', 18, 'rohna',"101", "name", {"1":1}, phone='1122', address="ban")

Complete args ('ram', 18, 'rohna', '101', 'name', {'1': 1})
hello ram
age 18
phone 1122
address ban

In [84]:
def get_data(name, *args, phone="0000", address="pune"):
    print("name", name)
    print("args", args)
    print("phone", phone)
    print("address", address)

In [85]:
get_data('john', "IT", "mumbai", phone="111", address="mum")

name john
args ('IT', 'mumbai')
phone 111
address mum

In [86]:
def get_data(name, *args, **kwargs):
    print("name", name)
    print("args", args)
    print("kwargs", kwargs)

In [89]:
get_data('ram', 90900, "IT", "Banglore", phone="19292", location="pune")

name ram
args (90900, 'IT', 'Banglore')
kwargs {'phone': '19292', 'location': 'pune'}

In [90]:
def get_data(name, *args, **kwargs):
    print("name", name)
    print("args", args)
    print("Phone", kwargs['phone'])

In [91]:
get_data('ram', 90900, "IT", "Banglore", phone="19292", location="pune")

name ram
args (90900, 'IT', 'Banglore')
Phone 19292

In [96]:
def get_data(name, *args, discount=100, **kwargs):
    print("name", name)
    print("args", args)
    print("Phone", kwargs)
    print("discount", discount)

In [97]:
get_data('ram', 90900, "IT", "Banglore", discount =200, phone="19292", location="pune")

name ram
args (90900, 'IT', 'Banglore')
Phone {'phone': '19292', 'location': 'pune'}
discount 200

name ram
args (90900, 'IT', 'Banglore')
Phone 19292
discount 200

In [ ]:
get_data('ram', 90900, "IT", "Banglore", discount =200, phone="19292", location="pune")

In [76]:
greeting('ram', 18, phone='1122', address="ban")

TypeError: not all arguments converted during string formatting

In [66]:
greeting("ram", 24)

name ram
age 24
phone 00000
address pune

In [69]:
greeting("ram", 24, address="pune",  phone="01111")

name ram
age 24
phone 01111
address pune

In [98]:
def square(x):
    return x**2

In [99]:
square(10)

100

In [ ]:
# lambda args: expression

In [100]:
x = lambda x: x**2

In [101]:
x(100)

10000

In [102]:
list(map(square,(2, 4,5, 8, 9)))

[4, 16, 25, 64, 81]

In [ ]:
#map(function, [], (),)

In [103]:
list(map(str.upper, ['python', 'is', 'fun']))

['PYTHON', 'IS', 'FUN']

In [104]:
for w in ['python', 'is', 'fun']:
    print(w.upper())

PYTHON
IS
FUN

In [105]:
def func():
    x1=4
    print(x1)

In [107]:
func()

4

In [108]:
x1

NameError: name 'x1' is not defined

In [109]:
def func():
    global x1
    x1=4
    print(x1)

In [110]:
func()

4

In [111]:
x1

4

In [113]:
def outer():
    i=10
    j=8
    def inner():
        print(i)
        print("i am inner function")
    def inner2():
        print("second inner")
    inner()
    inner2()
    return inner, inner2

In [119]:
p = outer()
p

10
i am inner function
second inner

(<function __main__.outer.<locals>.inner()>,
 <function __main__.outer.<locals>.inner2()>)

In [117]:
p[0]()

10
i am inner function

In [118]:
p[1]()

second inner

In [115]:
dir(p)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
p

NameError: name 'outer' is not defined

In [120]:
def outer(f): #2
    def inner(): #4
        result=f() #5
        return result ** 2 # 5**2
    return inner #3

In [121]:
def num():
    return 5

In [122]:
r = outer(num)

In [123]:
r

In [124]:
r()

25

In [125]:
@outer
def num():
    return 5

In [126]:
num()

25

In [129]:
def outer(f):
    def inner(n1,n2):
        result = f(n1,n2)
        return result **2
    return inner

In [130]:
@outer
def num(n1,n2):
    return n1+n2+5

In [131]:
num(19,4)

784

In [139]:
def validate(func):
    def validator(*args, **kwargs):
        if len(args)>1:
            if args[1] ==0:
                print("we are expecting non zero number")
                return None
            else:
                power = func(args[0], args[1])
                return power
            
        else:
            print('invlid args')
    return validator

In [140]:
import math

In [141]:
@validate
def mypower(x, y):
    return math.pow(x,y)

In [143]:
mypower(10,2)

100.0

In [142]:
mypower(10,0)

we are expecting non zero number

TypeError: 'NoneType' object is not callable

In [2]:
list_1 = [1,2,3,4,5,6,7,8,89,10]
list(filter(lambda x: x%2==0, list_1))

[2, 4, 6, 8, 10]

In [3]:
list_1 = [1,2,3,4,5,6,7,8,9]
list(map(lambda x: pow(x,3), list_1))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [4]:
# general purpose decorators

def a_decorator_passing_arbitary_arguments(function_to_decorate):
    
    def a_wrapper_accepting_arbitary_arguments(*args, **kwargs):
        print("The positionla arguments are", args)
        print("The keyword arguments are", kwargs)
        function_to_decorate(*args)
        
    return a_wrapper_accepting_arbitary_arguments



@a_decorator_passing_arbitary_arguments
def function_with_no_arguments():
    print("No arguments here.....")

In [5]:
function_with_no_arguments()

The positionla arguments are ()
The keyword arguments are {}
No arguments here.....

In [6]:
# Passing positional arguments to decorators
def accept_the_arguments(function_to_decorator):
    def inner_function(*args, **kwargs):
        print("Positional arguments are", args)
        print("The keyword arguments are", kwargs)
        function_to_decorator(*args)
    return inner_function

@accept_the_arguments
def function_with_args(a, b, c):
    print(a, b, c)

function_with_args(10,20,30)

Positional arguments are (10, 20, 30)
The keyword arguments are {}
10 20 30

In [ ]:
# general purpose decorators

def a_decorator_passing_arbitary_arguments(function_to_decorate):
    
    def a_wrapper_accepting_arbitary_arguments(*args, **kwargs):
        print("The positionla arguments are", args)
        print("The keyword arguments are", kwargs)
        function_to_decorate(*args)
        
    return a_wrapper_accepting_arbitary_arguments



@a_decorator_passing_arbitary_arguments
def function_with_no_arguments():
    print("No arguments here.....")

In [18]:
# passing kwargs based arguments

def accepting_kwargs(function_to_decorator):
    def inner_function(*args, **kwargs):
        print("args values", args)
        print("positional args", kwargs)
        # custom logic based functions_with_args
        function_to_decorator(*args,**kwargs)
    return inner_function


@accepting_kwargs
def functions_with_args(*args, **kwargs):
    print("Inside functions args", args)
    print("kwargs...", kwargs)

In [19]:
functions_with_args(1,2, name="onkar", address="pune")

args values (1, 2)
positional args {'name': 'onkar', 'address': 'pune'}
Inside functions args (1, 2)
kwargs... {'name': 'onkar', 'address': 'pune'}

In [17]:
functions_with_args(1,2, name="onkar", address="pune")

args values (1, 2)
positional args {'name': 'onkar', 'address': 'pune'}
Inside functions args ((1, 2), {'name': 'onkar', 'address': 'pune'})
kwargs... {}

In [15]:
functions_with_args(1,2, name="onkar", address="pune")

args values (1, 2)
positional args {'name': 'onkar', 'address': 'pune'}

NameError: name 'a' is not defined

In [13]:
functions_with_args(1,2, name="onkar", address="pune")

args values (1, 2)
positional args {'name': 'onkar', 'address': 'pune'}

TypeError: functions_with_args() takes 2 positional arguments but 3 were given

In [23]:
# passing argument to decorator 

def decorator_with_args(decorator_args1, decorator_args2, decorator_args3):
    
    def decoator(func):
        def wrapper(function_args1, function_args2, function_args3):
            print("The wrapper can access all the variables\n"
                   "\t from the decorator maker:{0} {1} {2}\n"
                  "\t from the function call:{3} {4} {5}\n"
                  "and pass them into decorator function".format(decorator_args1, decorator_args2,
                                                                 decorator_args3, 
                                                                 function_args1, 
                                                                 function_args2,
                                                                 function_args3
                                                                ))
            return func(function_args1,function_args2,  function_args3)
        return wrapper
    return decoator            

pandas = "Pandas"
@decorator_with_args(pandas, "Numpy", "Sciki-learn")
def actual_function(function_args1, function_args2, function_args3):
    print("This is decorated function and it only knows about its args:{0}, {1}, {2}".format(
    function_args1, function_args2, function_args3))

In [24]:
actual_function("John", "Science", "Tools")

The wrapper can access all the variables
	 from the decorator maker:Pandas Numpy Sciki-learn
	 from the function call:John Science Tools
and pass them into decorator function
This is decorated function and it only knows about its args:John, Science, Tools

In [ ]:
actual_function("John", "Science", "Tools")

In [ ]:
# Assignment 1:
# Write a python pgm using functions and loop to count number of digit in a number


# Please post your solutions in chat

In [26]:
def count_number(n):
    count=0
    while(n>0):
        count=count+1
        n=n//10
    print("The number of digits in the number are:" ,count)

In [27]:
n = int(input("Number"))
count_number(n)

Number10
The number of digits in the number are: 2

In [ ]:
# a feature -> b feature -> c features

In [30]:

# code for testing decorator chaining


def decor1(func):
    def inner():
        x = func()
        print("X in decor2", x)
        return x*x # logic doing mul
    return inner

def decor(func):
    def inner():
        x = func()
        print("X in decor 1st...", x)
        return 2*x # multiply with 2
    return inner
    
@decor1
@decor
def num():
    return 10

In [31]:
num()

X in decor 1st... 10
X in decor2 20

400

In [33]:
def simple_func(): #define 
    print("hi")  # logic 1
    print('hello') # 2
    return 'hello' # 3 manuplution
                   # return computed 
                    # logic ....
                
simple_func()

hi
hello

'hello'

In [36]:
type(simple_func)

function

In [38]:
def simple_generator():
    print("hi")
    yield 'hello'
    x = 10
    y = x +5
    print(y)
    yield "hello world"
    yield x

In [44]:
ret = simple_generator()
ret

In [40]:
for val in ret:
    print(val)

hi
hello
15
hello world
10

In [43]:
list(ret)

hi
15

['hello', 'hello world', 10]

In [45]:
next(ret)

hi

'hello'

In [46]:
next(ret)

15

'hello world'

In [47]:
next(ret)

10

In [48]:
next(ret)

StopIteration:

In [49]:
def fib(n):
    numbers = []
    first, second = 0,1
    while first < n:
        numbers.append(first)
        first, second =  second, first+second
    print(numbers)

In [51]:
fib(100000000000000)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141]

In [52]:
def fib(n):
    first, second = 0,1
    while n:
        yield first
        first, second = second, first+second
        n -=1

In [53]:
ret = fib(50)

In [54]:
ret

In [55]:
next(ret)

0

In [56]:
next(ret)

1

In [57]:
list(ret)

[1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049]

In [66]:
import random
name = ["akshay", "john", "ale", "fred"]
designations = ["mgr", "se", "sse", "admin", "hr", "fin"]

def people_list():
    people = []
    for i in range(1000000):
        person = {"id":i , "name":random.choice(name),
                  "designations": random.choice(designations)}
        people.append(person)
    return people

def people_generator():
    for i in range(1000000):
        person = {"id":i , "name":random.choice(name),
                  "designations": random.choice(designations)}
        yield person

In [62]:
p= people_list()
p[:2]

[{'id': 0, 'name': 'john', 'designations': 'fin'},
 {'id': 1, 'name': 'ale', 'designations': 'mgr'}]

In [67]:
ret = people_generator()

In [68]:
ret

In [69]:
next(ret)

{'id': 0, 'name': 'fred', 'designations': 'fin'}

In [59]:
p= people_list()
p[::2]

NameError: name 'radom' is not defined

In [70]:
# write the custom generator function liike range

def frange(start, stop, increment):
    x = start
    while x < stop:
        yield x
        x +=increment

In [71]:
c = frange(0, 4, 0.5)
print(type(c))

for n in frange(0, 4, 0.5):
    print(n)

<class 'generator'>
0
0.5
1.0
1.5
2.0
2.5
3.0
3.5

In [72]:
def countdown(n):
    print("starting to count from", n)
    while n > 0:
        yield n
        n -=1
    print("Done")

In [83]:
c = countdown(3)

In [84]:
next(c)

starting to count from 3

3

In [85]:
next(c)

2

In [86]:
next(c)

1

In [87]:
next(c)

Done

StopIteration:

In [88]:
list(c)

[]

In [89]:
a = [1,2,3,4,5]
for x in reversed(a):
    print(x)

5
4
3
2
1

In [90]:
# assignment write pgm to calculate permutation and combination of below list
items = ['a','b','c']
from itertools import permutations
for p in permutations(items):
    print(p)

('a', 'b', 'c')
('a', 'c', 'b')
('b', 'a', 'c')
('b', 'c', 'a')
('c', 'a', 'b')
('c', 'b', 'a')

In [91]:
from itertools import combinations
for c in combinations(items, 3):
    print(c)

('a', 'b', 'c')

In [92]:
from itertools import combinations
for c in combinations(items, 2):
    print(c)

('a', 'b')
('a', 'c')
('b', 'c')

In [93]:
from itertools import combinations
for c in combinations(items, 1):
    print(c)

('a',)
('b',)
('c',)

In [94]:
# enumerate to the track of sequence and element in terms of index and value

mylist = ['a', 'b', 'c']
for idx, val in enumerate(mylist):
    print(idx, val)

0 a
1 b
2 c

In [95]:
for idx, val in enumerate(mylist, 1):
    print(idx, val)

1 a
2 b
3 c

In [97]:
# ZIP iterator
x = [1,2,3,4,5]
y = [101,102,103,104,105]
d = {}
for i, j in zip(x, y):
    d[i]= j
print(d)

{1: 101, 2: 102, 3: 103, 4: 104, 5: 105}

In [98]:
a = [1,2,3]
b = ['w', 'x', 'y', 'z']
for i in zip(a,b):
    print(i)

(1, 'w')
(2, 'x')
(3, 'y')

In [99]:
from itertools import zip_longest
for i in zip_longest(a,b):
    print(i)

(1, 'w')
(2, 'x')
(3, 'y')
(None, 'z')

In [100]:
a = [1,2,3]
b = ['w', 'x', 'y']
c = [10,11,12]
for i in zip(a,b,c):
    print(i)

(1, 'w', 10)
(2, 'x', 11)
(3, 'y', 12)

In [101]:
from itertools import chain
for x in chain(a,b,c):
    print(x)

1
2
3
w
x
y
10
11
12

In [103]:
# flattening the nested sequence
from collections import Iterable 

def flatten(items, ignore_types=(str, bytes)):
    for x in items:
        if isinstance(x, Iterable) and not isinstance(x, ignore_types):
            yield from flatten(x)
        else:
            yield x

<ipython-input-103-1d233332ae15>:2: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.9 it will stop working
  from collections import Iterable

In [105]:
items = [1, 2, [3,4, [5,6],7 ], 8 ]

for x in flatten(items):
    print(x)

1
2
3
4
5
6
7
8

In [106]:
items = ['john',['ale', 'fred'], 'tom' ]

for x in flatten(items):
    print(x)

john
ale
fred
tom

In [ ]:
# 1.homework check the size of list of range(10000)

# chek szie of genretor

In [107]:
import sys, os
sys.getsizeof(1)

28

In [108]:
# files 

with open('sample.txt', 'rt') as f:
    data = f.read()
print(data)

python is fun.
thank you
today is sunday
its a fun day
python is
new
today python is preferred
done with sample test
new Python
end

In [109]:
# iterate over the line of files
with open('sample.txt', 'rt') as f:
    for line in f:
        # process line 
        print(line)

python is fun.

thank you

today is sunday

its a fun day

python is

new

today python is preferred

done with sample test

new Python

end

In [110]:
with open("somefile.txt", "wt") as f:
    f.write("hi")
    f.write("heloo")

In [111]:
# redirected output
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [115]:
with open('abc.txt', 'wt') as f:
    print('hi', file=f)
    print("hello", file=f)

In [117]:
with open('abc.txt', 'rt') as f:
    print(f.read())

hi
hello

In [118]:
"hi"

'hi'

In [122]:
import argparse

parser = argparse.ArgumentParser(description='Short sample app')

parser.add_argument('-a', action="store_true", default=False)
parser.add_argument('-b', action="store", dest="b")
parser.add_argument('-c', action="store", dest="c", type=int)

print (parser.parse_args(['-a', '-bval', '-c', '3']))

Namespace(a=True, b='val', c=3)

In [6]:
"hi"

'hi'

In [52]:
s

'malayalam'